q:before {content: "\201C";}
q:after {content: "\201D";}
q q:before {content: "\2018";}
q q:after {content: "\2019";}
/**
* `lang` selector isn't supported by IE8-
*/
q:lang(ar):before, q:lang(ca):before, q:lang(da):after, q:lang(el):before, q:lang(es):before, q:lang(fa):before, q:lang(hr):after, q:lang(hy):before, q:lang(it):before, q:lang(nb):before, q:lang(no):before, q q:lang(pl):before, q q:lang(ro):before, q:lang(ru):before, q:lang(tr):before, q:lang(uk):before, q:lang(vi):before {content:"\00AB";}
q:lang(ar):after, q:lang(ca):after, q:lang(da):before, q:lang(el):after, q:lang(es):after, q:lang(fa):after, q:lang(hr):before, q:lang(hy):after, q:lang(it):after, q:lang(nb):after, q:lang(no):after, q q:lang(pl):after, q q:lang(ro):after, q:lang(ru):after, q:lang(tr):after, q:lang(uk):after, q:lang(vi):after {content:"\00BB";}
q:lang(bg):before, q:lang(cs):before, q:lang(de):before, q:lang(hu):before, q:lang(lt):before, q:lang(nl):before, q:lang(pl):before, q:lang(ro):before, q q:lang(ru):before, q:lang(sk):before, q:lang(sl):before, q q:lang(uk):before {content:"\201E";}
q:lang(bg):after, q:lang(cs):after, q:lang(de):after, q:lang(en):before, q q:lang(en-gb):before, q:lang(eo):before, q q:lang(hy):before, q:lang(id):before, q:lang(ko):before, q:lang(lt):after, q:lang(pt):before, q q:lang(ru):after, q:lang(sk):after, q:lang(sl):after, q q:lang(uk):after, q:lang(zh-cn):before {content:"\201C";}
q q:lang(ca):before, q q:lang(ca):after, q q:lang(es):before, q q:lang(es):after {content:"\0022";}
q q:lang(cs):before, q q:lang(de):before, q q:lang(nl):before, q q:lang(sk):before, q q:lang(sl):before {content:"\201A";}
q q:lang(cs):after, q q:lang(de):after, q q:lang(en):before, q:lang(en-gb):before, q q:lang(id):before, q q:lang(ko):before, q q:lang(nb):before, q q:lang(no):before, q q:lang(pt):before, q q:lang(sk):after, q q:lang(sl):after, q q:lang(zh-cn):before {content:"\2018";}
q q:lang(da):before, q q:lang(da):after, q q:lang(en):after, q:lang(en-gb):after, q q:lang(fi):before, q q:lang(fi):after, q q:lang(id):after, q q:lang(ko):after, q q:lang(nl):after, q q:lang(nb):after, q q:lang(no):after, q q:lang(pt):after, q q:lang(sv):before, q q:lang(sv):after, q q:lang(zh-cn):after {content:"\2019";}
q q:lang(el):before, q q:lang(hr):after, q q:lang(tr):before, q q:lang(vi):before {content:"\2039";}
q q:lang(el):after, q q:lang(hr):before, q q:lang(tr):after, q q:lang(vi):after {content:"\203A";}
q:lang(en):after, q q:lang(en-gb):after, q:lang(eo):after, q:lang(fi):before, q:lang(fi):after, q:lang(hu):after, q q:lang(hy):after, q:lang(id):after, q:lang(ko):after, q:lang(nl):after, q:lang(pl):after, q:lang(pt):after, q:lang(ro):after, q:lang(sv):before, q:lang(sv):after, q:lang(zh-cn):after {content:"\201D";}
q:lang(fr):before {content:"\00AB\00A0"; white-space:nowrap;}
q:lang(fr):after {content:"\00A0\00BB"; white-space:nowrap;}
q q:lang(fr):before {content:"\2039\00A0"; white-space:nowrap;}
q q:lang(fr):after {content:"\00A0\203A"; white-space:nowrap;}
q:lang(ja):before, q:lang(zh-hk):before, q:lang(zh-tw):before {content:"\300C";}
q:lang(ja):after, q:lang(zh-hk):after, q:lang(zh-tw):after {content:"\300D";}
q q:lang(ja):before, q q:lang(zh-hk):before, q q:lang(zh-tw):before {content:"\300E";}
q q:lang(ja):after, q q:lang(zh-hk):after, q q:lang(zh-tw):after {content:"\300F";}
@media print {
	q:lang(da):before {content:"\201E";}
	q:lang(da):after {content:"\201C";}
	q q:lang(da):before, q q:lang(da):after {content:"\2019";}
}