/**
* the `quotes` property isn't supported by Safari
*/
q, blockquote > p , :lang(en), :lang(id), :lang(ko), :lang(pt), :lang(zh-cn) {quotes:"\201C" "\201D" "\2018" "\2019";}
:lang(ar), :lang(fa) {quotes:"\00AB" "\00BB";}
:lang(bg), :lang(lt) {quotes:"\201E" "\201C";}
:lang(ca), :lang(es) {quotes:"\00AB" "\00BB" "\0022" "\0022";}
:lang(cs), :lang(de), :lang(sk), :lang(sl) {quotes:"\201E" "\201C" "\201A" "\2018";}
:lang(da) {quotes:"\00BB" "\00AB" "\2019" "\2019";}
:lang(el), :lang(tr), :lang(vi) {quotes:"\00AB" "\00BB" "\2039" "\203A";}
:lang(en-gb) {quotes:"\2018" "\2019" "\201C" "\201D";}
:lang(eo) {quotes:"\201C" "\201D";}
:lang(fi), :lang(sv) {quotes:"\201D" "\201D" "\2019" "\2019";}
:lang(fr) {quotes:"\00AB\00A0" "\00A0\00BB" "\2039\00A0" "\00A0\203A";}
:lang(hr) {quotes:"\00BB" "\00AB" "\203A" "\2039";}
:lang(hu) {quotes:"\201E" "\201D";}
:lang(hy) {quotes:"\00AB" "\00BB" "\201C" "\201D";}
:lang(it) {quotes:"\00BB" "\00AB";}
:lang(ja), :lang(zh-hk), :lang(zh-tw) {quotes:"\300C" "\300D" "\300E" "\300F";}
:lang(nl) {quotes:"\201E" "\201D" "\201A" "\2019";}
:lang(nb), :lang(no) {quotes:"\00AB" "\00BB" "\2018" "\2019";}
:lang(pl), :lang(ro) {quotes:"\201E" "\201D" "\00AB" "\00BB";}
:lang(ru), :lang(uk) {quotes:"\00AB" "\00BB" "\201E" "\201C";}
@media print {
	:lang(da) {
		quotes:"\201E" "\201C" "\2019" "\2019";
	}
}