/* http://www.witch.westfalen.de/csstest/quotes/quotes.html */
q:before {content: "\201C";}
q:after {content: "\201D";}
q q:before {content: "\2018";}
q q:after {content: "\2019";}

/*	Arabic	*/
/* slow selector */
*[lang|=ar] q:before {content: "\00AB";}
*[lang|=ar] q:after {content: "\00BB";}

/*	Bulgarian	*/
*[lang=bg] q:before {content: "\201E";}
*[lang=bg] q:after {content: "\201C";}

/*	Catalan	*/
*[lang=ca] q:before {content: "\00AB";}
*[lang=ca] q:after {content: "\00BB";}
*[lang=ca] q q:before {content: "\0022";}
*[lang=ca] q q:after {content: "\0022";}

/*	Czech	*/
*[lang=cs] q:before {content: "\201E";}
*[lang=cs] q:after {content: "\201C";}
*[lang=cs] q q:before {content: "\201A";}
*[lang=cs] q q:after {content: "\2018";}

/*	Danish	*/
*[lang=da] q:before {content: "\00BB";}
*[lang=da] q:after {content: "\00AB";}
*[lang=da] q q:before {content: "\2019";}
*[lang=da] q q:after {content: "\2019";}
@media print {
	*[lang=da] q:before {content: "\201E";}
	*[lang=da] q:after {content: "\201C";}
	*[lang=da] q q:before {content: "\2019";}
	*[lang=da] q q:after {content: "\2019";}
}

/*	German	*/
*[lang=de] q:before {content: "\201E";}
*[lang=de] q:after {content: "\201C";}
*[lang=de] q q:before {content: "\201A";}
*[lang=de] q q:after {content: "\2018";}
/*	German 2	*/
*[lang=de] q:before {content: "\00BB";}
*[lang=de] q:after {content: "\00AB";}
*[lang=de] q q:before {content: "\203A";}
*[lang=de] q q:after {content: "\2039";}

/* Greek */
*[lang=el] q:before {content: "\00AB";}
*[lang=el] q:after {content: "\00BB";}
*[lang=el] q q:before {content: "\2039";}
*[lang=el] q q:after {content: "\203A";}
/* Greek 2 */
*[lang=el] q:before {content: "\201C";}
*[lang=el] q:after {content: "\201E";}
*[lang=el] q q:before {content: "\2018";}
*[lang=el] q q:after {content: "\201A";}

/* English */
/* slow selector */
*[lang^=en] q:before {content: "\201C";}
*[lang^=en] q:after {content: "\201D";}
*[lang^=en] q q:before {content: "\2018";}
*[lang^=en] q q:after {content: "\2019";}
/* English - UK */
*[lang=en-gb] q:before {content: "\2018";}
*[lang=en-gb] q:after {content: "\2019";}
*[lang=en-gb] q q:before {content: "\201C";}
*[lang=en-gb] q q:after {content: "\201D";}

/* Esperanto */
*[lang=eo] q:before {content: "\201C";}
*[lang=eo] q:after {content: "\201D";}

/* Spanish */
*[lang=es] q:before {content: "\00AB";}
*[lang=es] q:after {content: "\00BB";}
*[lang=es] q q:before {content: "\0022";}
*[lang=es] q q:after {content: "\0022";}
/* Spanish 2 */
*[lang=es] q:before {content: "\201C";}
*[lang=es] q:after {content: "\201D";}
*[lang=es] q q:before {content: "\2018";}
*[lang=es] q q:after {content: "\2019";}

/* Farsi */
*[lang=fa] q:before {content: "\00AB";}
*[lang=fa] q:after {content: "\00BB";}

/* Finnish */
*[lang=fi] q:before {content: "\201D";}
*[lang=fi] q:after {content: "\201D";}
*[lang=fi] q q:before {content: "\2019";}
*[lang=fi] q q:after {content: "\2019";}
/* Finnish 2 */
*[lang=fi] q:before {content: "\00BB";}
*[lang=fi] q:after {content: "\00BB";}
*[lang=fi] q q:before {content: "\203A";}
*[lang=fi] q q:after {content: "\203A";}

/* French */
*[lang=fr] q:before {content: "\00AB\00A0"; white-space: nowrap;}
*[lang=fr] q:after {content: "\00A0\00BB"; white-space: nowrap;}
*[lang=fr] q q:before {content: "\2039\00A0"; white-space: nowrap;}
*[lang=fr] q q:after {content: "\00A0\203A"; white-space: nowrap;}

/* Croatian	*/
*[lang=hr] q:before {content: "\00BB";}
*[lang=hr] q:after {content: "\00AB";}
*[lang=hr] q q:before {content: "\203A";}
*[lang=hr] q q:after {content: "\2039";}

/* Hungarian */
*[lang=hu] q:before {content: "\201E";}
*[lang=hu] q:after {content: "\201D";}
/* Hungarian 2 */
*[lang=hu] q:before {content: "\00BB";}
*[lang=hu] q:after {content: "\00AB";}

/*	Armenian	*/
*[lang=hy] q:before {content: "\00AB";}
*[lang=hy] q:after {content: "\00BB";}
*[lang=hy] q q:before {content: "\201C";}
*[lang=hy] q q:after {content: "\201D";}

/* Indonesian */
*[lang=id] q:before {content: "\201C";}
*[lang=id] q:after {content: "\201D";}
*[lang=id] q q:before {content: "\2018";}
*[lang=id] q q:after {content: "\2019";}

/* Italian */
*[lang=it] q:after {content: "\00BB";}
*[lang=it] q:before {content: "\00AB";}
/* Italian 2 */
*[lang=it] q:before {content: "\201C";}
*[lang=it] q:after {content: "\201D";}
*[lang=it] q q:before {content: "\2018";}
*[lang=it] q q:after {content: "\2019";}

/* Japanese */
*[lang=ja] q:before {content: "\300C";}
*[lang=ja] q:after {content: "\300D";}
*[lang=ja] q q:before {content: "\300E";}
*[lang=ja] q q:after {content: "\300F";}

/* Korean */
*[lang=ko] q:before {content: "\201C";}
*[lang=ko] q:after {content: "\201D";}
*[lang=ko] q q:before {content: "\2018";}
*[lang=ko] q q:after {content: "\2019";}

/* Lithuanian */
*[lang=lt] q:before {content: "\201E";}
*[lang=lt] q:after {content: "\201C";}
/* Lithuanian 2 */
*[lang=lt] q:before {content: "\201E";}
*[lang=lt] q:after {content: "\201C";}
*[lang=lt] q q:before {content: "\201A";}
*[lang=lt] q q:after {content: "\2018";}

/* Dutch */
*[lang=nl] q:before {content: "\201E";}
*[lang=nl] q:after {content: "\201D";}
*[lang=nl] q q:before {content: "\201A";}
*[lang=nl] q q:after {content: "\2019";}
/* Dutch 2 */
*[lang=nl] q:before {content: "\201D";}
*[lang=nl] q:after {content: "\201D";}
*[lang=nl] q q:before {content: "\2019";}
*[lang=nl] q q:after {content: "\2019";}

/* Norwegian nb */
*[lang=nb] q:before {content: "\00AB";}
*[lang=nb] q:after {content: "\00BB";}
*[lang=nb] q q:before {content: "\2018";}
*[lang=nb] q q:after {content: "\2019";}
/* Norwegian nb 2 */
*[lang=nb] q:before {content: "\201C";}
*[lang=nb] q:after {content: "\201D";}
*[lang=nb] q q:before {content: "\2018";}
*[lang=nb] q q:after {content: "\2019";}

/* Norwegian no */
*[lang=no] q:before {content: "\00AB";}
*[lang=no] q:after {content: "\00BB";}
*[lang=no] q q:before {content: "\2018";}
*[lang=no] q q:after {content: "\2019";}
/* Norwegian no 2 */
*[lang=no] q:before {content: "\201C";}
*[lang=no] q:after {content: "\201D";}
*[lang=no] q q:before {content: "\2018";}
*[lang=no] q q:after {content: "\2019";}

/* Polish */
*[lang=pl] q:before {content: "\201E";}
*[lang=pl] q:after {content: "\201D";}
*[lang=pl] q q:before {content: "\00AB";}
*[lang=pl] q q:after {content: "\00BB";}
/* Polish 2 */
*[lang=pl] q:before {content: "\201E";}
*[lang=pl] q:after {content: "\201D";}
*[lang=pl] q q:before {content: "\201A";}
*[lang=pl] q q:after {content: "\2019";}
/* Polish 3 */
*[lang=pl] q:before {content: "\00AB";}
*[lang=pl] q:after {content: "\00BB";}

/* Portuguese */
*[lang=pt] q:before {content: "\201C";}
*[lang=pt] q:after {content: "\201D";}
*[lang=pt] q q:before {content: "\2018";}
*[lang=pt] q q:after {content: "\2019";}
/* Portuguese 2 */
*[lang=pt] q:before {content: "\00AB";}
*[lang=pt] q:after {content: "\00BB";}
*[lang=pt] q q:before {content: "\2039";}
*[lang=pt] q q:after {content: "\203A";}

/* Romanian */
*[lang=ro] q:before {content: "\201E";}
*[lang=ro] q:after {content: "\201D";}
*[lang=ro] q q:before {content: "\00AB";}
*[lang=ro] q q:after {content: "\00BB";}
/* Romanian 2 */
*[lang=ro] q:before {content: "\00AB";}
*[lang=ro] q:after {content: "\00BB";}
*[lang=ro] q q:before {content: "\201E";}
*[lang=ro] q q:after {content: "\201D";}

/* Russian */
*[lang=ru] q:before {content: "\00AB";}
*[lang=ru] q:after {content: "\00BB";}
*[lang=ru] q q:before {content: "\201E";}
*[lang=ru] q q:after {content: "\201C";}
/* Russian 2 */
*[lang=ru] q:before {content: "\201E";}
*[lang=ru] q:after {content: "\201C";}
*[lang=ru] q q:before {content: "\201E";}
*[lang=ru] q q:after {content: "\201C";}

/* Slovak */
*[lang=sk] q:before {content: "\201E";}
*[lang=sk] q:after {content: "\201C";}
*[lang=sk] q q:before {content: "\201A";}
*[lang=sk] q q:after {content: "\2018";}

/* Slovene */
*[lang=sl] q:before {content: "\201E";}
*[lang=sl] q:after {content: "\201C";}
*[lang=sl] q q:before {content: "\201A";}
*[lang=sl] q q:after {content: "\2018";}
/* Slovene 2 */
*[lang=sl] q:before {content: "\00BB";}
*[lang=sl] q:after {content: "\00AB";}
*[lang=sl] q q:before {content: "\203A";}
*[lang=sl] q q:after {content: "\2039";}

/* Swedish */
*[lang=sv] q:before {content: "\201D";}
*[lang=sv] q:after {content: "\201D";}
*[lang=sv] q q:before {content: "\2019";}
*[lang=sv] q q:after {content: "\2019";}
/* Swedish 2 */
*[lang=sv] q:before {content: "\00BB";}
*[lang=sv] q:after {content: "\00BB";}
*[lang=sv] q q:before {content: "\203A";}
*[lang=sv] q q:after {content: "\203A";}

/* Turkish */
*[lang=tr] q:before {content: "\00AB";}
*[lang=tr] q:after {content: "\00BB";}
*[lang=tr] q q:before {content: "\2039";}
*[lang=tr] q q:after {content: "\203A";}
/* Turkish 2 */
*[lang=tr] q:before {content: "\201C";}
*[lang=tr] q:after {content: "\201D";}
*[lang=tr] q q:before {content: "\2018";}
*[lang=tr] q q:after {content: "\2019";}

/* Ukrainian */
*[lang=uk] q:before {content: "\00AB";}
*[lang=uk] q:after {content: "\00BB";}
*[lang=uk] q q:before {content: "\201E";}
*[lang=uk] q q:after {content: "\201C";}
/* Ukrainian 2 */
*[lang=uk] q:before {content: "\201E";}
*[lang=uk] q:after {content: "\201C";}
*[lang=uk] q q:before {content: "\201E";}
*[lang=uk] q q:after {content: "\201C";}
/* Ukrainian 3 - should not be used if inner and outer quotation are next to each other */
*[lang=uk] q:before {content: "\00AB";}
*[lang=uk] q:after {content: "\00BB";}
*[lang=uk] q q:before {content: "\00AB";}
*[lang=uk] q q:after {content: "\00BB";}

/* Chinese simplified */
*[lang=zh-cn] q:before {content: "\201C";}
*[lang=zh-cn] q:after {content: "\201D";}
*[lang=zh-cn] q q:before {content: "\2018";}
*[lang=zh-cn] q q:after {content: "\2019";}

/* Chinese Hongkong */
*[lang=zh-hk] q:before {content: "\300C";}
*[lang=zh-hk] q:after {content: "\300D";}
*[lang=zh-hk] q q:before {content: "\300E";}
*[lang=zh-hk] q q:after {content: "\300F";}

/* Chinese Traditional */
*[lang=zh-tw] q:before {content: "\300C";}
*[lang=zh-tw] q:after {content: "\300D";}
*[lang=zh-tw] q q:before {content: "\300E";}
*[lang=zh-tw] q q:after {content: "\300F";}

/* Vietnamese */
*[lang=vi] q:before {content: "\00AB";}
*[lang=vi] q:after {content: "\00BB";}
*[lang=vi] q q:before {content: "\2039";}
*[lang=vi] q q:after {content: "\203A";}

