/* FORMS
============================================================================ */
/**
 * Property compatibility table for form widgets
 * @see https://developer.mozilla.org/en-US/docs/Property_compatibility_table_for_form_widgets
 */

form {
	margin: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	max-width: none;
	min-width: 0;
}

fieldset fieldset {
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 * 4. to override default firefox style
 */

/* 4 */
fieldset > legend,

legend {
	/* 1 */
	box-sizing: border-box;
	/* 2 */
	color: inherit;
	/* 1 */
	display: table;
	font-weight: bolder;
	/* 3 */
	padding: 0;
	/* 1 */
	white-space: normal;
	/* 1 */
	max-width: 100%;
}

label {
	cursor: pointer;
	font-size: small;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

label * {
	@include fallback('font-size', 1rem);
}

/* pragraphs inside forms
---------------------------------------------------------------------------- */
form p {
}

form br {
	clear: both;
}

/* common rules
 * @see https://github.com/jonathantneal/sanitize.css/issues/115#issue-178563944
---------------------------------------------------------------------------- */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 3. Address inconsistent `text-transform` inheritance for `button` and `select`.
 * 4. Allow setting the same size for all form fields.
 * 5. Add a focus outline for some fields only (opinionated).
 * 6. Set the focus outline to be just around the field border.
 */
%os-element-reset {
	// sass-lint:disable-block property-sort-order
	border-width: 1px;
	border-style: solid;
	border-color: palette('border');
	border-radius: 0;
	/* 4 */
	box-sizing: border-box;
	color: inherit;
	display: inline-block;
	/* 1 */
	font-size: inherit;
	/* 1 */
	line-height: inherit;
	/* 1 */
	font-family: inherit;
	-webkit-font-smoothing: inherit; // sass-lint:disable-line no-vendor-prefixes
	letter-spacing: inherit;
	margin: 0;
	outline: 0;
	overflow: visible;
	/* 2 */
	padding: 1px; // sass-lint:disable-line property-units
	text-align: inherit;
	/* 3 */
	text-transform: inherit;
	vertical-align: top;
	white-space: normal;

	&:hover {
	}

	&:focus {
		/* 5 */
		outline: 1px dotted palette('black');
		/* 6 */
		outline-offset: 0;
	}
}

:disabled,
:readonly {
	background: palette('disabled', 'background');
	color: palette('disabled', 'foreground');
}

:disabled {
	cursor: not-allowed;
}

:readonly {
	cursor: default;
}

:enabled {
}

:optional {
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
:-moz-placeholder {
	color: palette('placeholder');
	opacity: 1;
}

::-webkit-input-placeholder {
	color: palette('placeholder');
	opacity: 1;
}

:-ms-input-placeholder {
	color: palette('placeholder');
}

/* buttons
---------------------------------------------------------------------------- */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Improve usability and consistency of cursor style between image-type `input` and others.
 * 3. Address `overflow` set to `hidden` in IE 8/9/10. Corrects inner spacing displayed oddly in IE6/7
 * 4. Remove inner padding and border in Firefox 4+.
 * 5. Consistent buttons background color for all browsers (opinionated).
 * 6. Consistent paddings.
 * @see  http://archivist.incutio.com/viewlist/css-discuss/98999
 * @see  http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 * @see  http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
 */

%button-reset {
	@extend %os-element-reset;

	/* 1 */
	appearance: button;
	/* 5 */
	background-color: palette('button');
	box-sizing: inherit;
	/* 2 */
	cursor: pointer;
	/* 3 */
	overflow: visible;
	/* 6 */
	padding: 1px 6px; // sass-lint:disable-line property-units
	text-indent: 0;
	white-space: inherit;
	/* 3 */
	width: auto;

	/* 4 */
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:hover,
	&:focus {
		background-color: palette('button', 'focus');
	}

	&:active {
	}
}

/**
 * Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 * and `video` controls.
 * Please note that this fix DOES NOT work for buttons contained inside table elements.
 * @see  http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
 */

html [type='button'] {  // sass-lint:disable-line no-qualifying-elements
	@extend %button-reset;
}

button,
[role='button'],
[type='button'] {
	@extend %button-reset;
}

[type='reset'] {
	@extend %button-reset;
}

[type='submit'] {
	@extend %button-reset;
}

/**
* Replace focus style removed in the border reset above
*/
button:-moz-focusring,
input:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/* checkboxes and radio buttons
---------------------------------------------------------------------------- */
/**
 * All checkboxes and readio buttons as list-items
 * <li><label for="id">label</label> <input type="checkbox" id="id" /></li>
 */
fieldset ol,
fieldset ul {
	margin: 0;
	padding: 0;
}

fieldset li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;

	&::before {
		content: none;
	}
}

li label {
	display: inline;
	padding: 0 .5em;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Reset height (applied by a rule above).
 * 4. Revert the webkit blur effect on focus in Safari for better visual effect.
 */
[type='checkbox'],
[type='radio'] {
	/* 1 */
	box-sizing: border-box;
	cursor: pointer;
	/* 3 */
	height: auto;
	/* 2 */
	padding: 0;
	width: auto;

	&:hover {
	}

	&:focus {
		/* 4 */
		outline-style: auto;
	}
}

li input {
	display: inline;
	vertical-align: text-bottom;
}

	vertical-align: text-bottom;

[type='radio'] {
	&:indeterminate {
	}

	&:checked {
	}
}

	vertical-align: bottom;

[type='checkbox'] {
	&:checked {
	}
}

li:hover {
	> input,
	> label {
		color: palette('black');
	}
}

:checked + label {
	font-weight: bold;
}

[disabled] + label,
:disabled + label {
	color: palette('disabled', 'foreground');
	cursor: default;
}

/* text inputs
---------------------------------------------------------------------------- */

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. add some space before text
 */
%text-field-reset {
	@extend %os-element-reset;

	/* 1 */
	appearance: textfield;
	box-sizing: inherit;
	cursor: text;
	padding: .1em .2em 0;
	/* 2 */
	text-indent: .5ex;
	width: 100%;

	&:focus {
		outline: 1px solid;
	}
}

output {
	@extend %text-field-reset;
}

[type='email'] {
	@extend %text-field-reset;
}

[type='email'][multiple] {
}

[type='number'] {
	@extend %text-field-reset;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='password'] {
	@extend %text-field-reset;
}

/**
 * Jakob Nielsen survey suggests that 27 characters could be good for search fields. They said that around 9 in 10 queries will fit in that space.
 *
 * 1. Correct the outline style in Safari.
 * 2. iPhone bug displaying search input with rounded angles before entering into the field
 */
[type='search'] {
	@extend %text-field-reset;

	/* 1 */
	outline-offset: -2px;
	/* 2 */
	-webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;  // sass-lint:disable-line no-vendor-prefixes
}

[type='tel'] {
	@extend %text-field-reset;
}

[type='text'] {
	@extend %text-field-reset;
}

[type='url'] {
	@extend %text-field-reset;
}

/* problematic inputs
============================================================================ */
[type='date'] {
}

[type='month'] {
}

[type='week'] {
}

[type='time'] {
}

[type='datetime-local'] {
}

/* impossible inputs
============================================================================ */

input[type='range'],
[type='file'],
[type='color'],
[type='image'] {
	cursor: pointer;
}

input[type='image'] {
}
[type='color'] {
}

[type='file'] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: normal;
	border-style: none!important;
	-webkit-box-align: baseline;
	cursor: default;
	-moz-binding: none;
	font-family: inherit;
	height: 2em;
	padding: 0!important; /*opera*/
	min-width: 250px;
	margin: 0; /* opera */
	text-align: start !important; // sass-lint:disable-line no-important
	white-space: nowrap;
}

[type='file'][multiple] {
}

[type='file'] > [type='text'] {
	background-color: inherit;
	border-color: inherit;
	color: inherit;
	font-size: inherit;
	height: inherit;
	letter-spacing: inherit;
}

[type='file'] > [type='button'] {
	appearance: button;
	-webkit-box-align: center; // sass-lint:disable-line no-vendor-prefixes property-sort-order
	box-sizing: content-box;
	font-size: inherit;
	height: inherit;
	padding: 0;
	white-space: normal;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	/* 1 */
	-webkit-appearance: button; // sass-lint:disable-line no-vendor-prefixes property-sort-order
	cursor: pointer;
	/* 2 */
	font: inherit;
}


/* selects
---------------------------------------------------------------------------- */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

select,
option {
	cursor: pointer;
	width: auto;
	min-width: 1.5em;
}

/**
 * 1. patch to correct an problem in Mac OS only not letting stylize combo boxes
 * @see https://github.com/necolas/normalize.css/issues/579#issue-148022816
 */
select {
	-webkit-appearance: menulist-button; /* 1. Mac Aqua off */
	box-sizing: content-box;

	@supports (-ms-accelerator:true) { /* 1 */
		-webkit-appearance: menulist; /* Revert to default for Edge */
	}
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	@extend %os-element-reset;

	font-weight: bold;
}

option {
	margin: 0;
	padding: 0 .4em 0 .1em;

	&:hover,
	&:focus {
		color: palette('black');
	}
}

select[multiple] {  // sass-lint:disable-line no-qualifying-elements
}

select[multiple] option {  // sass-lint:disable-line no-qualifying-elements

	&:checked {
		font-weight: bold;
	}
}

/* textareas
---------------------------------------------------------------------------- */
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
	@extend %text-field-reset;

	cursor: text;
	line-height: inherit;
	overflow: auto; /* 1 */
	resize: vertical;
	vertical-align: top;
	white-space: pre;
}



/* ALERTS and FORMS */
.success {
}

:valid {
}

:in-range {
}

:required:valid {
}

.warning {
}

[required],
:required {
	box-shadow: none;
}

.alert {
}

:out-of-range {
}

:invalid {
	border-radius: 0;
	box-shadow: 0 0 5px palette('label', 'danger');
}

:-moz-ui-invalid {
	border-radius: 0;
	box-shadow: 0 0 5px palette('label', 'danger');
}

:focus:required:invalid {
}

[type='submit']:-moz-submit-invalid {
}

x-moz-errormessage {
}
