/* FORMS
============================================================================ */
/**
 * Property compatibility table for form widgets
 * @see https://developer.mozilla.org/en-US/docs/Property_compatibility_table_for_form_widgets
 */

form {
	margin: 0;
}

fieldset {
	max-width: none;
	min-width: 0;

	padding: 0;
	margin: 0;

	border: 0;
}

fieldset fieldset {
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 * 4. to override default firefox style
 */
/* 4 */
fieldset > legend,
legend {
	display: table; /* 1 */

	max-width: 100%; /* 1 */

	padding: 0; /* 3 */

	font-weight: bolder;

	white-space: normal; /* 1 */

	color: inherit; /* 2 */

	box-sizing: border-box; /* 1 */
}

label {
	padding: 0;
	margin: 0;

	font-size: small;
	line-height: inherit;

	cursor: pointer;
}

label * {
	@include fallback('font-size', 1rem);
}

/* pragraphs inside forms
---------------------------------------------------------------------------- */
form p {
}

form br {
	clear: both;
}

/* common rules
 * @see https://github.com/jonathantneal/sanitize.css/issues/115#issue-178563944
---------------------------------------------------------------------------- */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 3. Address inconsistent `text-transform` inheritance for `button` and `select`.
 * 4. Allow setting the same size for all form fields.
 * 5. Add a focus outline for some fields only (opinionated).
 * 6. Set the focus outline to be just around the field border.
 */
%os-element-reset {
	display: inline-block;

	padding: 1px; /* 2 */ // sass-lint:disable-line property-units
	margin: 0;

	overflow: visible;

	font-size: inherit; /* 1 */
	line-height: inherit; /* 1 */
	font-family: inherit; /* 1 */
	-webkit-font-smoothing: inherit; // sass-lint:disable-line no-vendor-prefixes
	letter-spacing: inherit;

	text-align: inherit;
	text-transform: inherit; /* 3 */
	white-space: normal;
	vertical-align: top;

	color: inherit;

	border-width: 1px;
	border-style: solid;
	border-color: palette('border');
	border-radius: 0;

	outline: 0;

	box-sizing: border-box; /* 4 */

	&:hover {
	}

	&:focus {
		outline: 1px dotted palette('black'); /* 5 */
		outline-offset: 0; /* 6 */
	}
}

:disabled,
:readonly {
	color: palette('disabled', 'foreground');

	background: palette('disabled', 'background');
}

:disabled {
	cursor: not-allowed;
}

:readonly {
	cursor: default;
}

:enabled {
}

:optional {
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
:-moz-placeholder {
	color: palette('placeholder');

	opacity: 1;
}

::-webkit-input-placeholder {
	color: palette('placeholder');
}

:-ms-input-placeholder {
	color: palette('placeholder');
}

/* buttons
---------------------------------------------------------------------------- */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Improve usability and consistency of cursor style between image-type `input` and others.
 * 3. Address `overflow` set to `hidden` in IE 8/9/10. Corrects inner spacing displayed oddly in IE6/7
 * 4. Remove inner padding and border in Firefox 4+.
 * 5. Consistent buttons background color for all browsers (opinionated).
 * 6. Consistent paddings.
 * @see  http://archivist.incutio.com/viewlist/css-discuss/98999
 * @see  http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 * @see  http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
 */

%button-reset {
	@extend %os-element-reset;

	width: auto; /* 3 */

	padding: 1px 6px; /* 6 */ // sass-lint:disable-line property-units

	overflow: visible; /* 3 */

	text-indent: 0;
	white-space: inherit;

	cursor: pointer; /* 2 */

	background-color: palette('button'); /* 5 */

	box-sizing: inherit;

	appearance: button; /* 1 */

	&::-moz-focus-inner {
		/* 4 */
		padding: 0;

		border: 0;
	}

	&:hover,
	&:focus {
		background-color: palette('button', 'focus');
	}

	&:active {
	}
}

/**
 * Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 * and `video` controls.
 * Please note that this fix DOES NOT work for buttons contained inside table elements.
 * @see  http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
 */

html [type='button'] {
	@extend %button-reset;
}

button,
[role='button'],
[type='button'] {
	@extend %button-reset;
}

[type='reset'] {
	@extend %button-reset;
}

[type='submit'] {
	@extend %button-reset;
}

/**
* Replace focus style removed in the border reset above
*/
button:-moz-focusring,
input:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/* checkboxes and radio buttons
---------------------------------------------------------------------------- */
/**
 * All checkboxes and readio buttons as list-items
 * <li><label for="id">label</label> <input type="checkbox" id="id" /></li>
 */
fieldset ol,
fieldset ul {
	padding: 0;
	margin: 0;
}

fieldset li {
	display: block;

	padding: 0;
	margin: 0;

	white-space: nowrap;

	list-style-type: none;

	&::before {
		content: none;
	}
}

li label {
	display: inline;

	padding: 0 0.5em;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Reset height (applied by a rule above).
 * 4. Revert the webkit blur effect on focus in Safari for better visual effect.
 */
[type='checkbox'],
[type='radio'] {
	width: auto;
	height: auto; /* 3 */

	padding: 0; /* 2 */

	vertical-align: middle;

	cursor: pointer;

	box-sizing: border-box; /* 1 */

	&:hover {
	}

	&:focus {
		outline-style: auto; /* 4 */
	}
}

[type='radio'] {
	&:indeterminate {
	}

	&:checked {
	}
}

[type='checkbox'] {
	&:checked {
	}
}

li:hover {
	> input,
	> label {
		color: palette('black');
	}
}

:checked + label {
	font-weight: bold;
}

[disabled] + label,
:disabled + label {
	cursor: default;

	color: palette('disabled', 'foreground');
}

/* text inputs
---------------------------------------------------------------------------- */

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. add some space before text
 */
%text-field-reset {
	@extend %os-element-reset;

	width: 100%;

	padding: 0.1em 0.2em 0;

	text-indent: 0.5ex; /* 2 */

	cursor: text;

	box-sizing: inherit;

	appearance: textfield; /* 1 */

	&:focus {
		outline: 1px solid;
	}
}

output {
	@extend %text-field-reset;
}

[type='email'] {
	@extend %text-field-reset;
}

[type='email'][multiple] {
}

[type='number'] {
	@extend %text-field-reset;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='password'] {
	@extend %text-field-reset;
}

/**
 * Jakob Nielsen survey suggests that 27 characters could be good for search fields. They said that around 9 in 10 queries will fit in that space.
 *
 * 1. Correct the outline style in Safari.
 * 2. iPhone bug displaying search input with rounded angles before entering into the field
 */
[type='search'] {
	@extend %text-field-reset;

	outline-offset: -2px; /* 1 */

	-webkit-appearance: none; /* 2 */ // sass-lint:disable-line no-vendor-prefixes
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;  // sass-lint:disable-line no-vendor-prefixes
}

[type='tel'] {
	@extend %text-field-reset;
}

[type='text'] {
	@extend %text-field-reset;
}

[type='url'] {
	@extend %text-field-reset;
}

/* complex inputs
============================================================================ */
[type='date'] {
}

[type='month'] {
}

[type='week'] {
}

[type='time'] {
}

[type='datetime-local'] {
}


@mixin range-track ($height, $thumb-height, $bg-fallback: null) {
	&::-webkit-slider-runnable-track {
		width: 100%;

		@content;
	}

	&::-moz-range-track {
		@content;
	}

	&::-ms-track {
		@if type-of($height) != 'number' or unitless($height) {
			@error '`$height` argument is required to be a not unitless number due MS Edge and IE necessary hacks.';
		}

		@if type-of($thumb-height) != 'number' or unitless($thumb-height) {
			@error '`$thumb-height` argument is required to be a not unitless number due MS Edge and IE necessary hacks.';
		}

		width: 100%;

		color: transparent;
		background: transparent;

		@if unit($height) != unit($thumb-height) {
			border-width: calc((#{$thumb-height} - #{$height}) / 2) 0;
		} @else {
			border-width: (($thumb-height - $height) / 2) 0;
		}

		border-color: transparent;
	}


	&::-ms-fill-lower {
		@content;

		@if $bg-fallback != null {
			background: $bg-fallback;
		}
	}

	&::-ms-fill-upper {
		@content;

		@if $bg-fallback != null {
			background: $bg-fallback;
		}
	}
}

@mixin range-thumb ($height, $track-height) {
	@if type-of($height) != 'number' or unitless($height) {
		@error '`$height` argument is required to be a not unitless number due MS Edge, IE, Blink and Webkit necessary hacks.';
	}

	@if type-of($track-height) != 'number' or unitless($track-height) {
		@error '`$track-height` argument is required to be a not unitless number due MS Edge, IE, Blink and Webkit necessary hacks.';
	}

	&::-webkit-slider-thumb {
		@content;

		@if unit($height) != unit($track-height) {
			margin-top: calc((#{$height} - #{$track-height}) / -2);
		} @else {
			margin-top: ($height - $track-height) / -2;
		}

		appearance: none;
	}

	&::-moz-range-thumb {
		@content;

		appearance: none;
	}

	&::-ms-thumb {
		margin-top: 0; // reset value used for webkit. Weird, right?

		appearance: none;

		@content;
	}

}

@mixin vertical-input-range {
	writing-mode: bt-lr;

	-webkit-appearance: slider-vertical; // sass-lint:disable-line no-vendor-prefixes
}

/**
 * 1. required for proper track sizing in FF
 */
[type='range'] {
	display: block;

	width: 100%; /* 1 */

	padding: 0;

	vertical-align: middle;

	cursor: pointer;

	background: transparent;
	border: 0; /* 1 */

	appearance: none;

	@include range-track ($height: 0.125rem, $thumb-height: 1.5rem, $bg-fallback: null) { // sass-lint:disable-line mixins-before-declarations
		background-color: palette('button');

		&:focus {
			outline: none;
		}
	}

	@include range-thumb ($height: 1.5rem, $track-height: 0.125rem) { // sass-lint:disable-line mixins-before-declarations
		background-color: palette('button', 'slider');

		border: 0;
	}

	/**
	 * 1. Remove the focus border in Firefox.
	 */
	&::-moz-focus-outer {
		border: 0; /* 1 */
	}

	/* hide the outline behind the border */
	&:-moz-focusring {
		outline: 1px solid transparent;
		outline-offset: -1px;
	}
}

/* impossible inputs
============================================================================ */

[type='file'],
[type='color'],
[type='image'] {
	padding: 0;

	vertical-align: middle;

	cursor: pointer;

	border: 0;
}

/**
 * Consistent display mode in Firefox when image field is empty.
 */

[type='image'] {
	display: inline-block;
}


















/**
 * Consistent background color on Chrome.
 */
[type='color'] {
	background-color: palette('white');
}

/**
 * Remove the inside button border in Chrome.
 */
::-webkit-color-swatch {
	border: 0;
}

/**
 * Remove the inside button border in Firefox.
 */
::-moz-color-swatch {
	border: 0;
}

/**
 * Remove the inside button padding in Chrome.
 */
::-webkit-color-swatch-wrapper {
	padding: 0;
}

/**
 * Remove the inside button padding in Firefox.
 */
::-moz-color-swatch-wrapper {
	padding: 0;
}



// sobral, confira isso
//
/**
 * 1. Consistent background color on Edge and IE.
 * 2. override Opera margin and padding
 */
[type='file'] {
	height: 2em;
	min-width: 250px;

	padding: 0 !important; /* 2 */ // sass-lint:disable-line no-important
	margin: 0; /* 2 */

	font-family: inherit;

	text-align: start !important; // sass-lint:disable-line no-important
	white-space: nowrap;

	cursor: default;

	background-color: transparent; /* 1 */

	border-style: none !important; // sass-lint:disable-line no-important

	-webkit-box-align: baseline; //sass-lint:disable-line no-vendor-prefixes

	-webkit-appearance: none; //sass-lint:disable-line no-vendor-prefixes
	   -moz-appearance: none; //sass-lint:disable-line no-vendor-prefixes indentation
	        appearance: normal; //sass-lint:disable-line indentation

	-moz-binding: none; //sass-lint:disable-line no-vendor-prefixes
}

[type='file'][multiple] {
}

[type='file'] > [type='text'] {
	height: inherit;

	font-size: inherit;
	letter-spacing: inherit;

	color: inherit;

	background-color: inherit;

	border-color: inherit;
}

[type='file'] > [type='button'] {
	height: inherit;

	padding: 0;

	font-size: inherit;

	white-space: normal;

	-webkit-box-align: center; // sass-lint:disable-line no-vendor-prefixes
	box-sizing: content-box;

	appearance: button;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Consistent background color for all browsers (same than above).
 * 3. Consistent style, width and color between all fields (same than above).
 * 4. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	font: inherit; /* 4 */

	cursor: pointer;

	background-color: palette('button'); /* 2 */

	border-width: 1px; /* 3 */
	border-style: solid; /* 3 */
	border-color: palette('border'); /* 3 */

	-webkit-appearance: button; /* 1 */ // sass-lint:disable-line no-vendor-prefixes

	&:hover {
		background-color: palette('button', 'focus');
	}
}

/**
 * Add a focus outline for color field (Chrome) and file selector field (Chrome & Safari) (same than above).
 */

:focus::-webkit-color-swatch,
:focus::-webkit-file-upload-button {
	outline: 1px dotted palette('black');
}

/**
 * Consistent style, width and color between all fields (same than above).
 */

::-ms-browse {
	border-width: 1px; /* 1 */
	border-style: solid; /* 1 */
	border-color: palette('border'); /* 1 */

	&:hover {
		background-color: palette('button', 'focus');
	}
}

/**
 * Add a focus outline for file selector field in Edge and IE (same than above).
 */

:focus::-ms-browse {
	outline: 1px dotted palette('black');
}













/* selects
---------------------------------------------------------------------------- */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

select,
option {
	width: auto;
	min-width: 1.5em;

	cursor: pointer;
}

/**
 * @see https://github.com/necolas/normalize.css/issues/579#issue-148022816
 * 1. patch to correct an problem in Mac OS only not letting stylize combo boxes
 * 2. Revert to default for Edge
 */
select {
	box-sizing: content-box;

	-webkit-appearance: menulist-button; /* 1. Mac Aqua off */ // sass-lint:disable-line no-vendor-prefixes

	@supports (-ms-accelerator: true) {
		-webkit-appearance: menulist; /* 2 */ // sass-lint:disable-line no-vendor-prefixes
	}
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	@extend %os-element-reset;

	font-weight: bold;
}

option {
	padding: 0 0.4em 0 0.1em;
	margin: 0;

	&:hover,
	&:focus {
		color: palette('black');
	}
}

select[multiple] {
	// sass-lint:disable-line no-qualifying-elements
}

select[multiple] option {
	// sass-lint:disable-line no-qualifying-elements

	&:checked {
		font-weight: bold;
	}
}

/* textareas
---------------------------------------------------------------------------- */
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 * sobral, veja o 2!
 */
textarea {
	@extend %text-field-reset;

	overflow: auto; /* 1 */

	line-height: inherit;

	white-space: pre;
	vertical-align: top;

	cursor: text;

	resize: vertical;
}



/* ALERTS and FORMS */
.success {
}

:valid {
}

:in-range {
}

:required:valid {
}

.warning {
}

[required],
:required {
	box-shadow: none;
}

.alert {
}

:out-of-range {
}

:invalid {
	border-radius: $border-radius;

	box-shadow: 0 0 5px palette('label', 'danger');
}

:-moz-ui-invalid {
	border-radius: $border-radius;

	box-shadow: 0 0 5px palette('label', 'danger');
}

:focus:required:invalid {
}

[type='submit']:-moz-submit-invalid {
}

x-moz-errormessage {
}

/**
 * Remove the focus outline in Firefox to only keep the original effect.
 */
[type='range']:-moz-focusring,
[type='checkbox']:-moz-focusring,
[type='radio']:-moz-focusring {
	outline-width: 0;
}
