@use '../abstracts' as my;

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */
[role='banner'] {
}
/// .menu-controller styles
///
/// @group helpers
///
/// @example html
/// <label for="menu-controller" onclick>menu</label>
///
[for='menu-controller'] {
  position: fixed;
  top: my.$gutter * 0.25;
  left: my.$gutter * 0.25;
  z-index: my.layer('default');
  background-color: my.palette('white');

  > svg {
    display: block;
    width: my.$gutter * 1.5;
    height: my.$gutter * 1.5;
  }

  [id='menu-controller']:checked ~ &::after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: my.palette('white');
    opacity: 0.75;
  }

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    display: none;
  }
}
