/* navigation
---------------------------------------------------------------------------- */
menu,
nav {
}

menu ul,
menu ol,
nav ul,
nav ol {
	padding: 0;
	margin: 0;

	list-style: none;
}

menu li,
nav li {
	padding: 0;
	margin: 0;

	&::before {
		content: none;
	}
}

menu a,
nav a {
	@include link-undercover;

	display: block;

	overflow: hidden;

	&:link {
		text-decoration: none;
	}
}

.current > a {
	pointer-events: none;
}


/* access
---------------------------------------------------------------------------- */
.skip-links {
}

.skip-links a {
	@include visually-hidden--focusable;
}

/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}


/// .menu-controller styles
///
/// @group helpers
///
/// @example html
/// <label for="menu-controller" onclick>menu</label>
///

[for='menu-controller'] {
	&::before {
		font-size: 2em;
		line-height: 0.75;
		font-family: sans-serif;

		vertical-align: middle;

		content: '\20\2261\20';
	}

	@media screen and (min-width: breakpoint('toggle-menu')) {
		display: none;
	}
}
