@use '../abstracts' as my;

/* navigation
---------------------------------------------------------------------------- */
nav {
}

menu,
nav ul,
nav ol {
  padding: 0;
  margin: 0;

  list-style: none;
}

menu li,
nav li {
  padding: 0;
  margin: 0;

  &::before {
    content: none;
  }
}

menu a,
nav a {
  @include my.link-undercover;

  display: block;

  overflow: hidden;

  &:link {
    text-decoration: none;
  }
}

.current > a {
  pointer-events: none;
}

// /* access
// ---------------------------------------------------------------------------- */
// .skip-links {
// }

.skip-links a {
  @include my.visually-hidden--focusable;
}

// /* pagination
// ---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}
