/* navigation
---------------------------------------------------------------------------- */
menu,
nav {}

  main menu ul,
  main menu ol,
  main menu li,
  main nav ul,
  main nav ol,
  main nav li,
  menu ul,
  menu ol,
  menu li,
  nav ul,
  nav ol,
  nav li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

    menu li,
    nav li {
      margin: 0;
      padding: 0;

      &:before {
        content: none;
      }
    }

      menu a:link,
      nav a:link {
        display: block;
        text-decoration: none;
      }

      .current > a {
        pointer-events: none;
      }


/* access
---------------------------------------------------------------------------- */
.skip-links {}

/* pagination
---------------------------------------------------------------------------- */
.pagination {}
    .pagination li.current {}
      .previous-page {}
      .next-page {}
