@use '../layout/form';
@use '../abstracts' as my;

/* buttons
---------------------------------------------------------------------------- */

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Improve usability and consistency of cursor style between image-type `input` and others.
 * 3. Address `overflow` set to `hidden` in IE 8/9/10. Corrects inner spacing displayed oddly in IE6/7
 * 4. Remove inner padding and border in Firefox 4+.
 * 5. Consistent buttons background color for all browsers (opinionated).
 * 6. Consistent paddings.
 * @see  http://archivist.incutio.com/viewlist/css-discuss/98999
 * @see  http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 * @see  http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
 * @see  http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
 */
%button-reset {
  @extend %os-element-reset;

  box-sizing: inherit;
  display: inline-flex;

  align-items: center;

  width: auto; /* 3 */
  min-height: my.$gutter * 2;
  // stylelint-disable-next-line property-units
  padding: 1px 6px; /* 6 */
  overflow: visible; /* 3 */

  text-indent: 0;
  white-space: inherit;

  cursor: pointer; /* 2 */

  background-color: my.palette('button'); /* 5 */
  border: my.$stroke;

  appearance: button; /* 1 */

  [role='group'] > &,
  fieldset > & {
    margin-right: my.$gutter * 0.5;

    &:only-child {
      display: flex;

      margin-right: auto;
      margin-left: auto;
    }
  }

  &::-moz-focus-inner {
    padding: 0; /* 4 */

    border: 0;
  }

  &:active {
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.like-a__button,
button,
[role='button'],
[type='button'] {
  @extend %button-reset;

  &:hover,
  &:focus {
    @include my.focused;

    background-color: my.palette('button', 'focus');
  }
}

.like-a__button--reset,
[type='reset'] {
  @extend %button-reset;

  color: my.palette('button', 'submit');

  background-color: my.palette('button', 'reset');
}

.like-a__button--submit,
[type='submit'] {
  @extend %button-reset;
  justify-content: center;

  width: my.$gutter * 12;

  text-align: center;

  background-color: my.palette('button', 'submit');

  &:hover,
  &:focus {
    @include my.focused;

    background-color: my.palette('button', 'focus');
  }

  &:disabled {
    color: my.palette('disabled', 'background');

    background-color: my.palette('disabled', 'foreground');
  }

  p > & {
    margin-top: my.$gutter;
    margin-right: auto;
    margin-left: auto;
  }
}

/**
* Replace focus style removed in the border reset above
*/
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
