@use '../abstracts' as my;

/* figures
---------------------------------------------------------------------------- */

/**
 * 1. Address margin not present in IE 8/9 and Safari 5.
 * 2. http://thenewcode.com/662/Design-From-the-Inside-Out-With-CSS-Min-Content
 */

figure {
  @include my.fallback('margin', my.$gutter 0); /* 1 */
}

figcaption {
  width: min-content;

  font-size: 83.3333%;
  line-height: inherit;
}

figcaption p,
figcaption small {
  margin: 0;

  font-size: 1em;
}
