@mixin progress-bar-bg {

	&::-webkit-progress-bar {
		@content;
	}

	.progress-bar {
		@content;
	}
}

@mixin progress-bar-fg {
	&::-moz-progress-bar {
		@content;
	}

	&::-webkit-progress-value {
		@content;
	}

	.progress-bar > span {
		@include hide-text;

		@content;
	}

	@content;
}

progress {
	width: 100%;
	height: $line-height * 1em;

	// Get rid of default border in Firefox.
	border: 0;

	// Reset the default appearance
	appearance: none;

	@include progress-bar-fg { // sass-lint:disable-line mixins-before-declarations
		color: palette('orange');

		background: linear-gradient(90deg, transparent 50%, palette('button', 'submit') 50%) center/50px 50px transparent;
	}

	@include progress-bar-bg { // sass-lint:disable-line mixins-before-declarations
		background: linear-gradient(90deg, transparent 50%, palette('button', 'base') 50%) center/50px 50px transparent;
	}
}
