/* selects
---------------------------------------------------------------------------- */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

select,
option {
  width: auto;
  min-width: 1.5em;

  line-height: 1;

  cursor: pointer;
}

/**
 * @see https://github.com/necolas/normalize.css/issues/579#issue-148022816
 */
select {
  @extend %text-field-reset;

  width: 100%;

  text-indent: 0.01px; // stylelint-disable-line property-units
  text-overflow: '';

  box-sizing: border-box;

  -moz-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

select,
.ie6-9:invalid {
  padding-right: $gutter;

  background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'12\' height=\'6\' viewBox=\'0 0 12 6\'%3E%3Cpolygon fill=\'#a8a8a8\' points=\'0,0 12,0 6,6\'/%3E%3C/svg%3E');
  background-position: right 6px top 50%;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  @extend %os-element-reset;

  font-weight: font-weight('bold');
}

option {
  padding: 0 0.4em 0 0.1em;
  margin: 0;

  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: palette('black');
  }
}

select[multiple] { // stylelint-disable-line no-qualifying-elements
}

select[multiple] option { // stylelint-disable-line no-qualifying-elements

  &:checked {
    font-weight: font-weight('bold');
  }
}
