@use 'sass:map';
@use 'sass:color';

////
/// This file contains all application-wide Sass color palettes
///
/// @group config-palettes
/// @prop {map} color - Map of colors
/// @todo Customize to match the needs of your design.
////

/// Store all available colors and tones.
///
/// @access private
///
/// @prop {color | map} color.tone - Pure colors or returned color value of functions
///
$palette: () !default;

$accent-color: hsl(330, 72%, 42%) !default;

///
/// @colors base
///
$base: (
  'accent': $accent-color,
);
$palette: map.set($palette, 'base', $base);


///
/// @colors neutral
///
$neutral: (
  'white': hsl(240, 2%, 91%),
  'x-light': color.scale(hsl(216, 11%, 91%), $whiteness: 10%),
  'light': hsl(216, 11%, 91%),
  'base': hsl(216, 2%, 60%),
  'dark': hsl(206, 5%, 26%),
  'x-dark': color.scale(hsl(206, 5%, 26%), $blackness: 10%),
  'black': hsl(200, 20%, 9%)
);
$palette: map.set($palette, 'neutral', $neutral);


///
/// @colors text
///
$text: (
  'dark': hsl(0, 0%, 13%),
  'title': $accent-color,
  'faded': hsl(216, 11%, 32.5%),
  'light': hsl(216, 11%, 91%),
  'quotes': hsl(0, 0%, 34%),
);
$palette: map.set($palette, 'text', $text);

///
/// @colors anchor
///
$anchor: (
  'base': rgb(0, 102, 204),
  'link': rgb(0, 102, 204),
  'visited': rgb(128, 0, 128),
  'hover': rgb(50, 152, 255),
  'focus': rgb(50, 152, 255),
  'active': rgb(229, 0, 80),
);
$palette: map.set($palette, 'anchor', $anchor);


///
/// @colors button
///
$button: (
  'base': rgb(225, 225, 225),
  'hover': rgb(229, 241, 251),
  'focus': rgb(229, 241, 251),
  'slider': hsl(0, 0%, 40%),
  'submit': rgb(217, 83, 79),
  'reset': transparent,
);
$palette: map.set($palette, 'button', $button);


///
/// @colors feedback
///
$feedback: (
  'default': rgb(119, 119, 119),
  'primary': rgb(51, 122, 183),
  'success': rgb(66, 133, 66),
  'info': rgb(60, 127, 145),
  'warning': rgb(240, 173, 78),
  'danger': rgb(217, 83, 79),
);
$palette: map.set($palette, 'feedback', $feedback);


///
/// @colors border
///
$border: (
  'base': rgb(192, 192, 192),
  'focus': rgb(0, 0, 0),
);
$palette: map.set($palette, 'border', $border);


///
/// @colors disabled
///
$disabled: (
  'foreground': hsl(0, 0%, 42%),
  'background': hsl(0, 0%, 94%),
);
$palette: map.set($palette, 'disabled', $disabled);


///
/// @colors loading
///
$loading: (
  'foreground': map.get($neutral, 'x-dark'),
  'background': map.get($neutral, 'base'),
);
$palette: map.set($palette, 'loading', $loading);


///
/// @colors placeholder
///
$placeholder: (
  'base': hsl(0, 0%, 34%),
  'focus': hsl(0, 0%, 56%),
);
$palette: map.set($palette, 'placeholder', $placeholder);


///
/// @colors effects
///
$effects: (
  'backdrop': rgba(0, 0, 0, 0.5),
  'shadow': rgba(0, 0, 0, 0.75),
  'tap-highlight': rgb(255, 94, 153),
  'target-highlight': rgb(255, 255, 102),
);
$palette: map.set($palette, 'effects', $effects);


///
/// @colors selection
///
$selection: (
  'foreground': rgb(255, 255, 255),
  'background': rgb(20, 105, 140),
);
$palette: map.set($palette, 'selection', $selection);


///
/// @colors mark
///
$mark: (
  'foreground': rgb(51, 51, 51),
  'background': rgb(215, 255, 90),
);
$palette: map.set($palette, 'mark', $mark);
