@charset 'UTF-8';

// 1. Configuration and helpers
@import
'abstracts/font-stacks',
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';

// 2. Vendors
// @import
// '../../node_modules/susy/sass/susy',
// '../../node_modules/include-media/dist/include-media';

// 3. Base stuff
@import
'base/base',
'base/fonts',
'base/typography',
'base/helpers';

// 4. Layout-related sections
@import
'layout/lists',
'layout/navigation',
'layout/table',
'layout/form',
'layout/gallery',
'layout/main',
'layout/header',
'layout/footer',
'layout/h-feed';

// 5. Components
@import
'components/h-entry',
'components/figure',
'components/button',
'components/checkbox-and-radio',
'components/output',
'components/select',
'components/slider',
'components/text-field';

// 6. Page-specific styles
@import
'pages/home';

// 7. Themes
@import
'themes/default',
'themes/print';
